#summonerName {
    text-align: center;
    font-size: 50px;
    font-family: fantasy;
    padding: 10px;
}
#tilted {
    text-align: center;
    color: red;
    font-size: 40px;
    font-family: sans-serif;
}

#notTilted {
    text-align: center;
    color: green;
    font-size: 40px;
    font-family: sans-serif;
}

#error {
    text-align: center;
    color: red;
}

#why {
    text-align: center;
    width: 50%;
    font-family: sans-serif;
    margin: 0 auto;
}

#inputForm {
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

#input {
    width: 50%;
    margin: 0 auto;
}

#about {
  width: 50%;
  block: center;
  margin: 0 auto;
  border-radius: 25px;
  padding: 10px;
}

#aboutHeader {
  background-color: #d9d9d9;
  border-radius: 10px 10px 0px 0px;
  padding: 10px;
}

#aboutContent {
  display: none;
}

#requestedSummoner {
  font-size: 1.4em;
}

#lookup {
  font-size: 1.4em;
  width: 10.4em;
}

.championImage {
    margin: auto;
    width: 80%;
    display: block;
    padding: 5px;
}

p {
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 45px;
    font-family: sans-serif;
}

h2 {
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
    color: grey;
}

.footer {
    text-align: center;
    color: grey;
    font-size: 10px;
    width: 50%;
    padding: 20px;
}

table {
  width: 100%;
  border: 0px;
  padding: 10px;
  text-align: center;
}
